<%- include('_layouts/header') %>


<div class="h3 card-header">Recently Added Products</div>
<div class="row">
    <% products.forEach((product)=>{ %>
    <div class="col-sm-4">
        <a class="card-link" href="/products/<%= product.category %>/<%= product.slug %>">
            <img class="card-img-top" style="width: 10rem;" src="/images/product_images/<%= product._id %>/<%= product.images[0] %>" alt="">
        </a>
        <div class="card-body">
            <p class="card-text"><%= product.title %></p>
            <p class="card-text">৳<%= product.price %></p>
            <a class="card-link" href="/products/<%= product.category %>/<%= product.slug %>">View Details</a>
        </div>
    </div>
    <% }) %>

</div>

<%- include('_layouts/footer') %>